<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abit.commodity.mapper.CommodityMapper">
    
    <resultMap type="Commodity" id="CommodityResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="price"    column="price"    />
        <result property="restCount"    column="rest_count"    />
        <result property="createTime"    column="create_time"    />
        <result property="picture"    column="picture"    />
        <result property="cateId"    column="cate_id"    />
        <result property="status"    column="status"    />
        <result property="cateName"    column="cate_name"    />
    </resultMap>

    <sql id="selectCommodityVo">
        select  commodity.id,
                commodity.name,
                commodity.description,
                commodity.price,
                commodity.rest_count,
                commodity.create_time,
                commodity.picture,
                commodity.cate_id,
                commodity.status,
                category.name cate_name
                from abit_commodity commodity,abit_category category
                where category.id = commodity.cate_id
    </sql>


    <select id="selectCommodityList" parameterType="Commodity" resultMap="CommodityResult">
        <include refid="selectCommodityVo"/>
        <if test="name != null  and name != ''"> and commodity.name like concat('%', #{name}, '%')</if>
        <if test="cateId != null "> and commodity.cate_id = #{cateId}</if>
        <if test="status != null "> and commodity.status = #{status}</if>
    </select>
    
    <select id="selectCommodityById" parameterType="Long" resultMap="CommodityResult">
        <include refid="selectCommodityVo"/>
        and commodity.id = #{id}
    </select>
        
    <insert id="insertCommodity" parameterType="Commodity">
        insert into abit_commodity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="price != null">price,</if>
            <if test="restCount != null">rest_count,</if>
            <if test="createTime != null">create_time,</if>
            <if test="picture != null">picture,</if>
            <if test="cateId != null">cate_id,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="price != null">#{price},</if>
            <if test="restCount != null">#{restCount},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="picture != null">#{picture},</if>
            <if test="cateId != null">#{cateId},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateCommodity" parameterType="Commodity">
        update abit_commodity
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="price != null">price = #{price},</if>
            <if test="restCount != null">rest_count = #{restCount},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="picture != null">picture = #{picture},</if>
            <if test="cateId != null">cate_id = #{cateId},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCommodityById" parameterType="Long">
        delete from abit_commodity where id = #{id}
    </delete>

    <delete id="deleteCommodityByIds" parameterType="String">
        delete from abit_commodity where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>